@import "tailwindcss/base";
@import "tailwindcss/components";
html {
  font-size: 30%;
}
body {
  font-size: 16px;
  color: #07031f;
  max-width: 100vw;
  background-color: #f7f3ea;
}

h1 {
  @apply text-[1.4rem] md:text-[70px] lg:text-[9rem] font-oswald font-normal leading-tight;
}
h2 {
  @apply text-[4rem] lg:text-[6rem] font-roboto font-extrabold tracking-tighter leading-tight;
}
h3 {
  @apply text-[3.6rem] font-oswald font-medium leading-tight;
}
h4 {
  @apply text-[2rem] lg:text-[3rem] font-oswald  leading-tight;
}
h5 {
  @apply text-[2.2rem] ;
}
p {
  @apply text-[14px] lg:text-[23px] md:text-[1rem] text-black/80 font-roboto leading-[3.6rem];
}
.p_small {
  @apply text-[1.8rem] font-roboto leading-[3.0rem];
}
a {
  @apply hover:text-orange font-semibold transition duration-300 ease-in-out lg:text-[1.9rem] text-[16px] font-roboto  leading-tight;
}
button {
  @apply lg:text-[2.1rem] md:text-[11px] text-[10px] font-roboto lg:font-semibold  px-[6rem] py-[0.6rem] md:py-7 lg:py-[2.3rem] text-white active:scale-95 transition-all transform border-[1px] lg:border-[3px] border-orange;
}
.bg-style {
  @apply bg-cover bg-no-repeat bg-center h-[500px]  lg:h-screen bg-black opacity-95;
}
.sb {
  @apply border border-red-500;
}

.sb2 {
  @apply border border-black;
}
.container {
  @apply px-[10rem];
}
@media (min-width: 360px) {
  .container {
    @apply px-[10rem];
  }
}

@media (min-width: 768px) {
  html {
    font-size: 50%;
  }
  .container {
    @apply px-[10rem];
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
  .container {
    @apply px-[10rem];
  }
}
@media (min-width: 1280px) {
  .container {
    @apply px-[10rem];
  }
}
@media (min-width: 1536px) {
  .container {
    @apply px-[10rem];
  }
}
@import "tailwindcss/utilities";


/* //......................... */
.header-bg{
  
  background-image: 
  url('/assests/images/header-bg.jpg');
}
.album-btn {
  @apply lg:text-[1.6rem] text-3xl font-roboto font-semibold leading-tight px-[2rem] py-[1rem] text-black active:scale-95 transition-all transform border-[2px] lg:border-[3px] border-orange;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #193956;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff6d00;
  border-radius: 11px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.icon-box{
  @apply border-orange p-7 mx-1 border-[1px] lg:border-[3px] rounded-full
}

